/* Global Styles */

html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
}
h3,p {
    font-size: 19px;
}
h2 {
    font-size: 29px;
}
img {
    width: 100%;
}
figure {
    margin: 0;
}

/* Section Styles */
main > article > section {
    padding: 65px 20px;
}
/* Grid Styles */

/* Card Styles */
.card {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
}
.card section {
    padding: 20px;
}
.card p {
    font-size: 17px;
}
/* Header Styles */

/* Button Styles */

/* Navbar Styles */
