/* Global Styles */

html, body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
}
h3,p {
    font-size: 19px;
}
h2 {
    font-size: 29px;
}
img {
    width: 100%;
}
figure {
    margin: 0;
}

/* Section Styles */
main > article > section {
    padding: 65px 20px;
}
/* Grid Styles */

/* Card Styles */

/* Header Styles */

/* Button Styles */

/* Navbar Styles */
